
body{
    background: lightblue;
    display: flex;
    align-items:center;
    justify-content:  center;
    min-height: 100vh;
}

.container{
    position: relative;
    background-color: lightsalmon;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    margin: 0 15px;
    box-shadow: 0 5px 10px gray;
}

.container header{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items:center;
    justify-content:  center;
}

.container form{
    position: relative;
    font-size: 16px;
    min-height: 225px;
}

.container form .details{
     
    margin-top:  20px;
}

.container form .title{
    
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form .field{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}

.input-field input{
    height: 30px;
    width: 240px;
    border-radius: 5px;
    padding: 2px;
    margin: 8px 0;
    outline: none;
    cursor: pointer; 
    margin-left: 15px;
}
.input-field label{
    font-size: 15px;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 3px black;
    cursor: pointer; 
} /*to be studied*/

form .button {
    height: 55px;
    border-radius: 5px;
    width: 100%;
    background-color: lightblue;
    margin-top: 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    
}